doctype html
html(lang="ru")
  head
    include blocks/head
  body.compensate-scrollbar
    .wrapper
      .background.lazy(data-src='img/backgrounds/bg1.jpeg')
      .wrapper__container
        include blocks/header
        +header('Подготовка к ЕГЭ на 90 баллов')
        main.main
          .container
            h1.title  Получи на ЕГЭ больше 90 баллов<br> и поступи в ВУЗ мечты 
            h2.sub-title  авторская методика подготовки от высокобалльников  
            .advantages.row
              .advantages__block.col-xl-4.col-12
                .advantages__icon 
                  <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon-check"></use></svg>
                span Беспроцентная рассрочка
              .advantages__block.col-xl-4.col-12
                .advantages__icon 
                  <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon-check"></use></svg>
                span Онлайн-обучение в любое удобное время
              .advantages__block.col-xl-4.col-12
                .advantages__icon 
                  <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#icon-check"></use></svg>
                span 1000+ положительных отзывов
            form(action="").main-form
              span.main-form__title Получите книгу «Эффективный план подготовки к ЕГЭ» бесплатно прямо сейчас
              .main-form__container.row
                .main-form__section.col-xl-4.col-lg-12
                  input(type="text" placeholder="Ваше имя" required).input
                .main-form__section.col-xl-4.col-lg-12
                  input(type="number" placeholder="Ваш телефон" required).input
                .main-form__section.col-xl-4.col-lg-12
                  button(type='submit').button Получить план подготовки к ЕГЭ
                .confirm.col-12
                  span  Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                    a(href="#popup2").popup-open Политикой конфиденциальности
    include blocks/footer
    +footer('Подготовка к ЕГЭ на 90 баллов')
    //
    include blocks/popup
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")